
.background-world {
  position: absolute;
  width: 15vw;
  height: auto;
  z-index: -100000000;
  pointer-events: none;
}

.backgroundParallax {
  position: fixed; /* PENTING */
  top: 0;
  left: 0;

  transform: translateY(var(--bgd-parallax-y));
  will-change: transform;

  pointer-events: none;
}



.bg-main {
  width: 100%;
  height: auto;
  display: block;
}

.objectParallax {
  position: absolute;

  --objectPara-x: 0px;
  --objectPara-y: 0px;
  --parallax-y: 0px;
  --z-depth: 1;

  --object-width: auto;
  --object-height: auto;

  left: var(--objectPara-x);
  top: var(--objectPara-y);

  width: var(--object-width);
  height: var(--object-height);

  transform: translateX(-50%) translateY(var(--parallax-y));

  will-change: transform;
  z-index: calc(var(--z-depth));
}

.objectParallax img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* atau cover */
}

/* Variasi depth saja */
.parallaxBack-1  {
    --z-depth: -1;
}
.parallaxBack-2  {
    --z-depth: -5;
}
.parallaxFront-1 {
    --z-depth: 1; 
}
.parallaxFront-2 {
    --z-depth: 0.9;
}

.object-test-01{
  --objectPara-x: 60%;
  --objectPara-y: 1700px;

  --object-width: 10%;
  --object-height: 10%;
}

.object-test-02 {
  --objectPara-x: 75%;
  --objectPara-y: 1900px;

  --object-width: 200%;
  --object-height: 200%;
}